<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fountain City Dev | By Connor Dunn">
    <meta name="author" content="Connor Dunn">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">

    <title>Fountain City Dev | By Connor Dunn</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/elusive-webfont.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/pe-icons.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Content/js/html5shiv.js"></script>
      <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

    <div id="preloader"></div>

    <div id="search-wrapper">
        <input id="search-box" placeholder="Search" />
    </div>
    <!-- NAV BAR -->

    <div id="navbar-main">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><h1>Fountain City Dev</h1></a>
                    <button type="button" class="navbar-toggle dropdown-toggle" id="open-menu" data-toggle="dropdown" data-target="#main-navigation">
                        <i class="el-icon-lines"></i>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="main-navigation">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resume <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Links", "Links", "Home")</li>
                            </ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </li>
                        <li> <a href="#" class="search-trigger"><i class="el-icon-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    @RenderBody()


    <!-- CONTENT WRAPPER -->

    <div id="footerwrap">
        <div class="container">
            <div class="btt-wrapper fade-down"><a class="btt-link smoothScroll" href="#headerwrap"><i class="el-icon-chevron-up"></i></a></div>
            <ul id="footer-social" class="fade-down">
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-twitter"></i></a></li>
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-facebook"></i></a></li>
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-googleplus"></i></a></li>
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-flickr"></i></a></li>
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-youtube"></i></a></li>
                <li><a href="#" target="_blank" title="Like Us"><i class="el-icon-rss"></i></a></li>
            </ul>
            <h4 class="fade-up">Created by Connor Dunn - Copyright 2022</h4>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)*
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script>
    <script src="~/Scripts/js/init.js"></script>
    <script src="~/Scripts/js/validation.js"></script>*

</body>
</html>
